# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
.venv/
venv/
ENV/
env/

# Environment Variables & Secrets
.env
.env.*
!.env.example

# Django specific
*.sqlite3
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*~

# Operating System files
.DS_Store
Thumbs.db
Desktop.ini
